<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="orangehrm.pages.BaseClass"/>
      <class name="orangehrm.pages.LoginPages"/>
      <class name="orangehrm.objects.LoginObjects"></class>
      <class name="library.ReadPropertyFile"></class>
      <class name="library.PracticeReadProperty"></class>
      <class name="orangehrm.pages.PracticeLoginPages"></class>
      <class name="orangehrm.objects.PracticeLoginObject"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
